

<h1> Rice and Grains Commodity Quotes
</h1>

<body>



<table id="quotes" class="table table-striped">
  <thead>

    <tr>
      <th>Date</th>
      <th>Commodity</th>
      <th>Price </th>
      <th>Supplier</th>
      <th>Purchased</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to quote.commodity, quote%></td>
        <td><%= quote.price %></td>
        <td><%= quote.supplier %></td>
        <td><%= t quote.confirm.class %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>

<br>



<%= link_to 'New Quote', new_quote_path, class: "btn btn-large btn-primary" %>

