<div class = "show-elements" >
<%= link_to '<< Back to Request Details', @rfq %> <br>
<%= link_to '<< Back to RFQ Index', rfqs_path %>

  <h1>Editing Request</h1>

<%= render 'form' %>

<%= link_to '<< Back to Request Details', @rfq %> <br>
<%= link_to '<< Back to RFQ Index', rfqs_path %>

</div>