<div class="show-elements">
<%= link_to '<< Back to RFQ Index', rfqs_path %> 

<h1> RFQ Details </h1>
<div class = "well"> 
<p>
  <strong>Commodity:</strong>
  <%= @rfq.commodity %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @rfq.brand %>
</p>

<p>
  <strong>Pack size:</strong>
  <%= @rfq.pack_size %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @rfq.volume %>
</p>

<p>
  <strong>Shipment:</strong>
  <%= @rfq.shipment %>
</p>

<p>
  <strong>Created At: </strong><%= @rfq.created_at.strftime("%m/%d/%Y %H:%M%p") %></p>

<p>
  <strong>Created By: </strong><%= @rfq.user_name %></p>

<%= render 'links' %>

</div>


<%= render "comments/comments" %>
<br>
<%= render "comments/form" %>

</div>




<%= link_to '<< Back to RFQ Index', rfqs_path %> 

</div>
