<h1>Listing purchases</h1>

<table id="purchases" class="table table-striped">
  <thead>
    <tr>
      <th>PO Number</th>
      <th>Commodity</th>
      <th>Supplier</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Pack size</th>
      <th>Volume</th>
      <th>Shipment Details</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to_if(purchase.po_number?, purchase.po_number, purchase) do |p|  
              link_to('Please Enter PO Number', purchase) end %></td>
        <td><%= purchase.commodity %></td>
        <td><%= purchase.supplier %></td>
        <td><%= purchase.price %></td>
        <td><%= purchase.brand %></td>
        <td><%= purchase.pack_size %></td>
        <td><%= purchase.volume %></td>
        <td><%= purchase.shipment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path, class: "btn btn-large btn-primary"  %>
