<div class="show-elements">

<%= link_to '<< Back to Purchase Index', purchases_path %>
<h1> Purchase Details </h1>
<div class = "well">
<p>
  <strong>Po number:</strong>
  <%= @purchase.po_number %>
</p>

<p>
  <strong>Commodity:</strong>
  <%= @purchase.commodity %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @purchase.supplier %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @purchase.brand %>
</p>

<p>
  <strong>Pack size:</strong>
  <%= @purchase.pack_size %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @purchase.volume %>
</p>

<p>
  <strong>Shipment details:</strong>
  <%= @purchase.shipment %>
</p>
<%= render 'links' %>

</div>

<%= render "comments/comments" %>
<br>
<%= render "comments/form" %>

</div>

<%= link_to '<< Back to Purchase Index', purchases_path %>
